<% include ./partials/header%>
<div class="container mt-3">
<div class="row">
<div class="card p-4 bg-light mx-auto" style="width: 50%;" >
        <h1 class = "text-center">Edit <%=campground.name%> </h1>
        <br>

<form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
    <div class="form-group">
    <input class="form-control mb-2" type="text" name="name"  value="<%=campground.name%>">
    <input class="form-control mb-2" type="text" name="image" value="<%=campground.image%>">
    <input class="form-control mb-2" type="text" name="description"  value="<%=campground.description%>">
    <input class="form-control mb-2" type="text" name="price"  value="<%=campground.price%>">

    <input type="hidden" value="<%=campground.rating%>" id="userRating">
    <div class="input-group mb-2 p-0">
        <div class="input-group-prepend mr-1" style="transform:scale(0.98,0.98)">
                <span class="input-group-text" id="basic-addon1">Rating</span>
        </div>
        <fieldset class="rating form-control p-1">
            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
            <input type="radio" id="star3" name="rating" value="3"/><label class = "full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
            <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>
    </div>
    <input class="form-control mb-2" type="text" name="location" value="<%=campground.location%>" id="location-field">
    

    <hr>
    <input class="form-control btn btn-primary" type = "submit">
    </div>
</form>
<div class="row">
    <div class="mx-auto">
          <a href="/campgrounds" class="btn btn-outline-secondary mt-1">Go Back</a>
    </div>
</div>

</div>
</div>
</div>

<script>
        let fieldset = document.querySelector('.rating'); //select fieldset
        let userRating = document.querySelector('#userRating').value; //get rating passed from server
        document.addEventListener('DOMContentLoaded',loadStarRating);
        
        function loadStarRating(){
            let radiofield = fieldset.querySelector('input[value="'+userRating+'"]'); //get relevant checkbox
            radiofield.setAttribute('checked','true'); //append checked to it
           }

</script>


<% include ./partials/footer%>
